html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  //background: $bg-secondary;
  background: red !important;
  color: $text-secondary;
  font-family: $font-primary;
  font-size: $font-size;
  text-transform: uppercase;
  box-sizing: border-box;
  overflow: hidden;
}
