.qs-datepicker-container {
  background: $bg-secondary;
  color: $text-primary;
}

.qs-controls {
  background: $bg-secondary;
  color: $text-primary;
}

.qs-range-middle {
  background: $range-calendar
}

.qs-active, .qs-range-end, .qs-range-start {
  background: $active-calendar;
}
