.first-screen {
  position: relative;
  margin-top: -12px;

  &__line {
    position: absolute;
    width: 2px;
    height: 0;
    left: 3px;
    bottom: 0;
    background: $decor;
    z-index: 10;
    transition: height 0.3s 0.3s;

    .site-open-animation & {
      height: 100%;
    }
  }

  &__line-dot {
    position: absolute;
    left: 50%;
    background: $decor;
    border-radius: 50%;
    z-index: 10;
    transform: translate(-50%);

    &--top {
      $size: 6px;
      width: 0;
      height: 0;
      top: 0;
      transition: width 0.3s 0.6s, height 0.3s 0.6s;

      .site-open-animation & {
        width: $size;
        height: $size;
      }
    }

    &--bottom {
      $size: 10px;
      width: 0;
      height: 0;
      bottom: 0;
      transition: width 0.3s, height 0.3s;

      .site-open-animation & {
        width: $size;
        height: $size;
      }
    }
  }

  &__above-text {
    padding: 8px 34px 34px;
    color: $accent;
    font: 500 36px $font-primary;
    letter-spacing: 0.05rem;
    transform: translateY(40px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    //@include desktop() {
    //  background: red !important;
    //}

    .site-open-animation & {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__wrap-text {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &__mask-text {
    margin-left: 6px;
    margin-bottom: -0.1em;
    color: $text-primary;
    font: 500 715px $font-tertiary;
    letter-spacing: -0.7rem;
    line-height: 0.82;
  }

  &__video {
    position: absolute;
    top: -40px;
    mix-blend-mode: darken;
  }
}
