.form-booking {
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(0);

  &--saving {
    opacity: 0.7;
    pointer-events: none;
  }

  &--fade {
    opacity: 0;
    transform: translateY(80px);
  }
  &--hidden {
    display: none;
  }

  &__wrap {
    display: flex;
    margin: 0 -10px;

    @include desktop() {
      flex-direction: column;
      width: 100%;
    }
  }

  &__input-wrap {
    display: flex;
    flex-direction: column;
    width: calc( 100% / 3 );
    padding: 0 10px;

    @include desktop() {
      width: 100%;
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

  }

  &__label {
    text-transform: lowercase;
    font: $weight-lg $font-size $font-primary;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__input {
    margin-top: 20px;
    font: $weight-md $font-size $font-primary;
    line-height: 28px;
    background: none;
    border: none;
    border-bottom: 2px solid $bg-secondary;
    transition: border 0.2s;
    &[data-type='date'] {
      cursor: pointer;
    }
    &:hover {
      border-bottom-color: $range-calendar;
    }
    &:focus {
      outline: none;
      border-bottom-color: $active-calendar;
    }

    &--invalid {
      border-bottom-color: $accent;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 60px;

    @include laptop() {
      margin-top: 88px;
    }

    @include mobile() {
      margin-top: 48px;
    }
  }

  &__btn {
    width: calc(100% / 3 - 10px);

    @include desktop() {
      width: calc(100% / 2);
    }

    @include laptop() {
      width: 100%;
      margin-bottom: 10px;
    }

    .form-booking--saving & {
      position: relative;

      &:before {
        content: 'покупка билетов';
      }

      &:after {
        content: '';
        position: absolute;
        animation: dots 1s infinite linear;
      }
    }
  }

  &__btn-text {
    .form-booking--saving & {
      display: none;
    }
  }

  &__error-message {
    margin-top: 5px;
    color: $accent;
    font: $weight-md $font-size-sm "Montserrat", sans-serif;
    text-transform: initial;
  }
}
