.form-booking {

  &__wrap {
    display: flex;
    margin: 0 -10px;

    @include desktop() {
      flex-direction: column;
      width: 100%;
    }
  }

  &__input-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 10px;
    @include desktop() {
      width: 100%;
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

  }

  &__label {
    text-transform: lowercase;
    font: $weight-lg $font-size $font-primary;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__input {
    margin-top: 20px;
    font: $weight-md $font-size $font-primary;
    line-height: 28px;
    background: none;
    border: none;
    border-bottom: 2px solid $bg-secondary;
    transition: border 0.2s;
    &:hover {
      border-bottom: 2px solid #2ea181;
    }
    &:focus {
      outline: none;
      border-bottom: 2px solid #45d5ad;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 60px;

    @include laptop() {
      margin-top: 88px;
    }

    @include mobile() {
      margin-top: 48px;
    }
  }

  &__btn {
    width: calc(100% / 3 - 10px);

    @include desktop() {
      width: calc(100% / 2);
    }

    @include laptop() {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
