.btn {
  padding: 10px 15px;
  font: 600 $font-size $font-primary;
  text-transform: uppercase;
  border-radius: $b-radius;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    background: $accent;
    color: $text-primary;
  }

  @include mobile() {
    font-size: $font-size-md;
  }
}

.btn--light {
  background: $bg-primary;
  color: $text-secondary;

}

.btn--dark {
  background: $bg-secondary;
  color: $text-primary;
  font-size: $font-size;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 16px rgba(#fff,0);
}
