.btn {
  padding: 10px 15px;
  font: 600 $font-size $font-primary;
  text-transform: uppercase;
  border-radius: $b-radius;
  cursor: pointer;
}

.btn--light {
  background: $bg-primary;
  color: $text-secondary;
}

.btn--dark {
  background: $bg-secondary;
  color: $text-primary;
}
