/* base sizes */
$b-radius: 4px;

/* fonts */
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Oswald', sans-serif;
$font-tertiary: 'Bebas Neue', sans-serif;
$font-size: 16px;
$weight: 500;

/* color */
$bg-primary: #f2e1c2;
$bg-secondary: #262526;
$accent: #f23207;
$text-primary: #f2e1c2;
$text-secondary: #262526;
$decor: #d9d9d9;
