html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/* base sizes */
/* fonts */
/* color */
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #262526;
  color: #262526;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  z-index: 15;
}
.header__logo {
  flex-grow: 1;
}

.main-screen,
.full-screen-popup {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.full-screen-popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 20;
  transition: transform 0.5s, opacity 0.2s 0.3s;
  transform: translateX(100%);
}
.full-screen-popup--active {
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
  transform: translateX(0);
}

.main-screen {
  background-image: url("/src/images/stars.jpg");
  background-size: 150% 100%;
  background-position-x: 50%;
  transition: background-position-x 0.7s;
}
.main-screen:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/images/blur.png");
  background-size: 100% 100%;
  z-index: 10;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.nav__group {
  display: flex;
  padding: 0 26px;
}
.nav__item {
  padding: 10px 18px;
  color: #f2e1c2;
  font: 500 16px "Bebas Neue", sans-serif;
  letter-spacing: 0.01rem;
  transition: color 0.3s;
}
.nav__item:hover {
  color: #f23207;
}

.first-screen {
  position: relative;
  margin-top: -12px;
}
.first-screen__line {
  position: absolute;
  width: 2px;
  height: 0;
  left: 3px;
  bottom: 0;
  background: #d9d9d9;
  z-index: 10;
  transition: height 0.3s 1s;
}
body.active .first-screen__line {
  height: 100%;
}
.first-screen__line-dot {
  position: absolute;
  left: 50%;
  background: #d9d9d9;
  border-radius: 50%;
  z-index: 10;
  transform: translate(-50%);
}
.first-screen__line-dot--top {
  width: 0;
  height: 0;
  top: 0;
  transition: width 0.3s 1.3s, height 0.3s 1.3s;
}
body.active .first-screen__line-dot--top {
  width: 6px;
  height: 6px;
}
.first-screen__line-dot--bottom {
  width: 0;
  height: 0;
  bottom: 0;
  transition: width 0.3s 0.7s, height 0.3s 0.7s;
}
body.active .first-screen__line-dot--bottom {
  width: 10px;
  height: 10px;
}
.first-screen__above-text {
  padding: 8px 34px 34px;
  color: #f23207;
  font: 500 36px "Montserrat", sans-serif;
  letter-spacing: 0.05rem;
}
.first-screen__wrap-text {
  position: relative;
  display: flex;
  overflow: hidden;
}
.first-screen__mask-text {
  margin-left: 6px;
  margin-bottom: -0.1em;
  color: #f2e1c2;
  font: 500 715px "Bebas Neue", sans-serif;
  letter-spacing: -0.7rem;
  line-height: 0.82;
}
.first-screen__video {
  position: absolute;
  top: -40px;
  mix-blend-mode: darken;
}

.buy-tickets {
  display: flex;
  flex-grow: 1;
  width: 100%;
  background: #f2e1c2;
}
.buy-tickets__screen {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 105px;
}
.buy-tickets__title {
  width: 50%;
  color: #262526;
  font: 700 84px "Oswald", sans-serif;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  line-height: 6.1rem;
  transform: scaleY(1.2);
}
.buy-tickets__closed {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  padding: 9px;
  background: #262526;
  cursor: pointer;
}
.buy-tickets__closed:hover {
  background: #f23207;
}
.buy-tickets__icon {
  width: 100%;
  height: 100%;
}
.buy-tickets__form {
  margin-top: 106px;
}

.form-booking__wrap {
  display: flex;
  margin: 0 -10px;
}
.form-booking__input-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 10px;
}
.form-booking__label {
  text-transform: lowercase;
  font: 700 16px "Montserrat", sans-serif;
}
.form-booking__label:first-letter {
  text-transform: uppercase;
}
.form-booking__input {
  margin-top: 20px;
  font: 400 16px "Montserrat", sans-serif;
  line-height: 26px;
  background: none;
  border: none;
  border-bottom: 2px solid #262526;
  transition: border 0.2s;
}
.form-booking__input:hover {
  border-bottom: 2px solid #2ea181;
}
.form-booking__input:focus {
  outline: none;
  border-bottom: 2px solid #45d5ad;
}
.form-booking__btn-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 60px;
}
.form-booking__btn {
  width: calc(33.3333333333% - 10px);
}

.qs-datepicker-container {
  background: #262526;
  color: #f2e1c2;
}

.qs-controls {
  background: #262526;
  color: #f2e1c2;
}

.qs-range-middle {
  background: #2ea181;
}

.qs-active, .qs-range-end, .qs-range-start {
  background: #45d5ad;
}

.btn {
  padding: 10px 15px;
  font: 600 16px "Montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background: #f23207;
  color: #f2e1c2;
}

.btn--light {
  background: #f2e1c2;
  color: #262526;
}

.btn--dark {
  background: #262526;
  color: #f2e1c2;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #f23207;
  }
}
.logo__svg {
  width: 82px;
  height: 36px;
}
.logo__svg-path {
  fill: #f23207;
}

/*# sourceMappingURL=index.css.map */
