@charset "UTF-8";
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, embed, iframe, object, audio, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/* base sizes */
/* fonts */
/* color */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #f23207;
  }
}
@keyframes dots {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
html {
  height: 100%;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  background: #262526;
  color: #262526;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  z-index: 15;
}
@media (max-width: 991px) {
  .header {
    justify-content: space-between;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .header {
    margin-top: 12px;
  }
}
.header__logo {
  flex-grow: 1;
}
@media (max-width: 767px) {
  .header__logo {
    flex-grow: 0;
  }
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 991px) {
  .container {
    padding: 0 10px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.full-screen-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 20;
  transition: transform 0.5s, opacity 0.2s 0.3s;
  transform: translateX(100%);
}
.full-screen-popup--active {
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
  transform: translateX(0);
}

.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/stars.jpg");
  background-size: 150% 100%;
  background-position-x: 50%;
  transition: background-position-x 0.7s;
}
.main-screen:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/images/blur.png");
  background-size: 100% 100%;
  z-index: 10;
}

/* menu for desktop */
@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__group {
  display: flex;
  padding: 0 26px;
}
@media (max-width: 1199px) {
  .nav__group {
    padding: 0 10px;
  }
}
.nav__item {
  padding: 10px 15px;
  color: #f2e1c2;
  font: 500 16px "Montserrat", sans-serif;
  letter-spacing: 0.01em;
  white-space: nowrap;
  transition: color 0.3s;
}
.nav__item:hover {
  color: #f23207;
}
@media (max-width: 991px) {
  .nav__item {
    padding: 10px 5px;
    letter-spacing: 0;
  }
}
@media (max-width: 767px) {
  .nav__item {
    font-size: 14px;
  }
}
.nav__burger-wrap {
  display: none;
  transition: opacity 0.2s;
}
@media (max-width: 767px) {
  .nav__burger-wrap {
    display: flex;
  }
}
.nav__burger-wrap:hover svg {
  fill: #f23207;
}
.nav__burger {
  width: 50px;
  height: 50px;
  fill: #f2e1c2;
}

/* menu for mobile */
.full-screen-nav-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #262526;
  opacity: 0;
  z-index: 30;
  transition: transform 0.5s, opacity 0.2s 0.3s;
  transform: translateX(100%);
}
.full-screen-nav-mobile--active {
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
  transform: translateX(0);
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  text-align: center;
}
.nav-mobile__item {
  width: 100%;
  padding: 15px 0;
  color: #f2e1c2;
  font: 400 16px "Montserrat", sans-serif;
  white-space: nowrap;
  border-bottom: 2px dotted #413c3c;
  transition: color 0.3s;
}
.nav-mobile__item:hover {
  color: #f23207;
  border-bottom: 2px dotted #595858;
}
.nav-mobile__closed {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 20px;
  right: 28px;
  padding: 9px;
  background: #413c3c;
  cursor: pointer;
}
.nav-mobile__closed:hover {
  background: #f23207;
}
.nav-mobile__icon {
  width: 100%;
  height: 100%;
  fill: #f2e1c2;
}

.first-screen {
  position: relative;
  margin-top: -12px;
  padding-left: 12px;
}
.first-screen__line {
  position: absolute;
  width: 2px;
  height: 0;
  left: 3px;
  bottom: 0;
  background: #d9d9d9;
  z-index: 10;
  transition: height 0.3s 0.3s;
}
.site-open-animation .first-screen__line {
  height: 100%;
}
.first-screen__line-dot {
  position: absolute;
  left: 50%;
  background: #d9d9d9;
  border-radius: 50%;
  z-index: 10;
  transform: translate(-50%);
}
.first-screen__line-dot--top {
  width: 0;
  height: 0;
  top: 0;
  transition: width 0.3s 0.6s, height 0.3s 0.6s;
}
.site-open-animation .first-screen__line-dot--top {
  width: 6px;
  height: 6px;
}
.first-screen__line-dot--bottom {
  width: 0;
  height: 0;
  bottom: 0;
  transition: width 0.3s, height 0.3s;
}
.site-open-animation .first-screen__line-dot--bottom {
  width: 10px;
  height: 10px;
}
.first-screen__above-text {
  padding: 8px 18px 34px;
  color: #f23207;
  font: 500 36px "Montserrat", sans-serif;
  letter-spacing: 0.05rem;
  opacity: 0;
  transform: translateX(-70px);
  transition: transform 0.3s 0.6s, opacity 0.3s 0.6s;
}
@media (max-width: 991px) {
  .first-screen__above-text {
    font-size: 24px;
  }
}
.site-open-animation .first-screen__above-text {
  opacity: 1;
  transform: translateX(0);
}
.first-screen__text-container {
  position: relative;
  display: flex;
  height: 518px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .first-screen__text-container {
    height: 420px;
  }
}
@media (max-width: 991px) {
  .first-screen__text-container {
    height: 320px;
  }
}
@media (max-width: 767px) {
  .first-screen__text-container {
    height: 234px;
  }
}
@media (max-width: 575px) {
  .first-screen__text-container {
    height: 125px;
  }
}
.first-screen__svg {
  width: 0;
  height: 0;
  position: absolute;
}
.first-screen__text {
  font: 500 715px "Bebas Neue", sans-serif;
  letter-spacing: -0.015em;
  dominant-baseline: hanging;
}
@media (max-width: 1199px) {
  .first-screen__text {
    font-size: 588px;
  }
}
@media (max-width: 991px) {
  .first-screen__text {
    font-size: 444px;
  }
}
@media (max-width: 767px) {
  .first-screen__text {
    font-size: 328px;
  }
}
@media (max-width: 575px) {
  .first-screen__text {
    font-size: 176px;
  }
}
.first-screen__video {
  display: block;
  clip-path: url(#videoText);
  width: 100%;
  object-fit: cover;
}

.buy-tickets {
  position: relative;
  display: flex;
  flex-grow: 1;
  max-height: 100%;
  width: 100%;
  background: #f2e1c2;
  overflow: auto;
}
.buy-tickets__screen {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 108px;
}
.buy-tickets__title {
  color: #262526;
  font: 700 84px "Oswald", sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  line-height: 100px;
  transform: scaleY(1.2);
}
@media (max-width: 991px) {
  .buy-tickets__title {
    font-size: 70px;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .buy-tickets__title {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .buy-tickets__title {
    font-size: 50px;
  }
}
.buy-tickets__closed {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  padding: 9px;
  background: #262526;
  cursor: pointer;
  z-index: 20;
}
.buy-tickets__closed:hover {
  background: #f23207;
}
@media (max-width: 991px) {
  .buy-tickets__closed {
    top: -70px;
    right: 20px;
  }
}
.buy-tickets__icon {
  width: 100%;
  height: 100%;
}
.buy-tickets__form {
  margin-top: 106px;
}
@media (max-width: 1199px) {
  .buy-tickets__form {
    margin-top: 60px;
  }
}
.buy-tickets__success {
  display: none;
  width: 100%;
  margin-top: 106px;
  font: 500 22px "Montserrat", sans-serif;
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.3s, transform 0.3s;
  text-transform: initial;
  text-align: center;
}
.buy-tickets__success--show {
  display: block;
}
.buy-tickets__success--appear {
  opacity: 1;
  transform: translateY(0);
}
.buy-tickets__success-text {
  color: #0f8c9b;
}
.buy-tickets__success-value--count {
  font-weight: 700;
}
.buy-tickets__success-value--date-to {
  font-weight: 700;
}
.buy-tickets__success-value--date-from {
  font-weight: 700;
}

.form-booking {
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(0);
}
.form-booking--saving {
  opacity: 0.7;
  pointer-events: none;
}
.form-booking--fade {
  opacity: 0;
  transform: translateY(80px);
}
.form-booking--hidden {
  display: none;
}
.form-booking__wrap {
  display: flex;
  margin: 0 -10px;
}
@media (max-width: 1199px) {
  .form-booking__wrap {
    flex-direction: column;
    width: 100%;
  }
}
.form-booking__input-wrap {
  display: flex;
  flex-direction: column;
  width: 33.3333333333%;
  padding: 0 10px;
}
@media (max-width: 1199px) {
  .form-booking__input-wrap {
    width: 100%;
  }
  .form-booking__input-wrap:not(:first-child) {
    margin-top: 30px;
  }
}
.form-booking__label {
  text-transform: lowercase;
  font: 700 16px "Montserrat", sans-serif;
}
.form-booking__label:first-letter {
  text-transform: uppercase;
}
.form-booking__input {
  margin-top: 20px;
  font: 400 16px "Montserrat", sans-serif;
  line-height: 28px;
  background: none;
  border: none;
  border-bottom: 2px solid #262526;
  transition: border 0.2s;
}
.form-booking__input[data-type=date] {
  cursor: pointer;
}
.form-booking__input:hover {
  border-bottom-color: #0f8c9b;
}
.form-booking__input:focus {
  outline: none;
  border-bottom-color: #18a7b8;
}
.form-booking__input--invalid {
  border-bottom-color: #f23207;
}
.form-booking__btn-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 60px;
}
@media (max-width: 991px) {
  .form-booking__btn-wrap {
    margin-top: 88px;
  }
}
@media (max-width: 767px) {
  .form-booking__btn-wrap {
    margin-top: 48px;
  }
}
.form-booking__btn {
  width: calc(33.3333333333% - 10px);
}
@media (max-width: 1199px) {
  .form-booking__btn {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .form-booking__btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
.form-booking--saving .form-booking__btn {
  position: relative;
}
.form-booking--saving .form-booking__btn:before {
  content: "покупка билетов";
}
.form-booking--saving .form-booking__btn:after {
  content: "";
  position: absolute;
  animation: dots 1s infinite linear;
}
.form-booking--saving .form-booking__btn-text {
  display: none;
}
.form-booking__error-message {
  margin-top: 5px;
  color: #f23207;
  font: 400 12px "Montserrat", sans-serif;
  text-transform: initial;
}

.qs-datepicker-container {
  background: #262526;
  color: #f2e1c2;
}

.qs-controls {
  background: #262526;
  color: #f2e1c2;
}

.qs-range-middle {
  background: #0f8c9b;
}

.qs-active, .qs-range-end, .qs-range-start {
  background: #18a7b8;
}

.btn {
  padding: 10px 15px;
  font: 600 16px "Montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover {
  background: #f23207;
  color: #f2e1c2;
}
@media (max-width: 767px) {
  .btn {
    font-size: 14px;
  }
}

.btn--light {
  background: #f2e1c2;
  color: #262526;
}

.btn--dark {
  background: #262526;
  color: #f2e1c2;
  font-size: 16px;
}

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
}

.logo__svg {
  width: 82px;
  height: 36px;
}
.logo__svg-path {
  fill: #f23207;
}

/*# sourceMappingURL=index.css.map */
